@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Gerenciamento de Regra</h1>
<a asp-action="Create" class="btn btn-primary">Criar Novo Regra</a>
<a asp-action="AddRegraUser" class="btn btn-primary">Aplicar á Usuário</a>
<table class="table">
    <thead>
        <tr>
            <th>Nome do Regra</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model!=null)
        {
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        }else{

            <tr>
                <td></td>
                <td>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }

    </tbody>
</table>
